@{
    ViewBag.Title = "Overview";
}

<br />

<div class="jumbotron">
    <h1>Overview</h1>    
    <p>The most challenging and time consuming task associated with the development of a business is raising capital for startup, testing or piloting an innovative idea, determining potential commercialization, and launching production and commercial operations.  Early stage funding sources include founders cash and debt, friends and family.... with angel and venture capital being extremely difficult to obtain.</p>
    <p>This portal is designed to provide a straightforward view of funding opportunities from sources other than angel investors and venture capitalists.  The portal will include funding sources from Federal agencies, State of Florida, private sector, private equity, foreign investments, and more.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("BusinessOpportunities")" role="button">Business Opportunities</a></p>
</div>